<h2>Locations</h2>
<ul>
  <li *ngFor="let location of locations.data">
    ID: {{ location.id }}, X: {{ location.x }}, Y: {{ location.y }}
    <button type="button" class="delete-button" (click)="delete(location.id);">x</button>
  </li>
</ul>
<div>
  <label for="x">x: </label>
  <input type="number" id="x" #x />
  <label for="y">y: </label>
  <input type="number" id="y" #y />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(x.value, y.value); x.value=''; y.value='';">
    Add Location
  </button>
</div>
  