<h2>BRKGA parameters</h2>
<label for="generations">Generations: </label>
<input type="number" id="generations" min="0" value="100" #gen />
<br />
<label for="population">Population size: </label>
<input type="number" id="population" min="0" value="100" #p />
<br />
<label for="elite">Elite set size: </label>
<input type="number" id="elite" min="0" max="1" step="0.01" value="0.25" #pe />
<br />
<label for="mutants">Mutant set size: </label>
<input type="number" id="mutants" min="0" max="1" step="0.01" value="0.20" #pm />
<br />
<label for="crossover">Crossover probability: </label>
<input type="number" id="crossover" min="0" max="1" step="0.01" value="0.67" #rho /> %
<br />
<button type="button" class="tsp-button" title="Calculate route" (click)="tsp(gen.value, p.value, pe.value, pm.value, rho.value);">Calculate route</button>
<div #chart></div>
